<div class="container p-1 text-center">
  <button class="btn btn-lg btn-outline-secondary m-2" (click)="openCreationWindow('INCOME', categoryCreation)">
    Add income category
  </button>
  <button class="btn btn-lg btn-outline-secondary m-2" (click)="openCreationWindow('EXPENSE',categoryCreation)">
    Add expense category
  </button>
  <br>
  <hr>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div *ngIf="categories else noData">
        <table class="table table-striped align-middle">
          <thead>
          <tr>
            <th>#</th>
            <th>Transaction type</th>
            <th>Category name</th>
            <th>Category limit</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let category of categories; index as i">
            <th scope="row">
              {{i + 1}}
            </th>
            <td>
              {{category.transactionType}}
            </td>
            <td>
              {{category.name}}
            </td>
            <td>
              {{category.limit | currency}}
            </td>
            <td>
              <button
                type="button"
                class="btn btn-outline-secondary btn-sm"
                aria-label="Close"
                (click)="openEditWindowForSelectedCategory(category, editCategory)"
              >Edit
              </button>
            </td>
            <td>
              <button
                type="button" class="btn-close" aria-label="Close"
                (click)="openDeletionConfirmationWindow(category.name, deletionConfirmationWindow)"
              ></button>
            </td>
          </tr>
          <tr class="bg-info fw-bold">
            <th></th>
            <td>Total limit:</td>
            <td>{{totalLimit | currency}}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col=2"></div>
  </div>
</div>

<!--
      add new category modal window
-->
<ng-template #categoryCreation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-category-creation">Category creation</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-dark">
    <form>
      <h2 class="col-form-label">Add new category:</h2>
      <div class="mb-3">
        <label for="new-category-transaction-type-input" class="col-form-label">Transaction type</label>
        <div class="input-group">
          <input
            type="text"
            id="new-category-transaction-type-input"
            name="new-category-transaction-type-input"
            class="form-control"
            disabled
            [(ngModel)]="category.transactionType">
        </div>
        <label for="new-category-name-input" class="col-form-label">Category name</label>
        <div class="input-group">
          <input
            id="new-category-name-input"
            type="text"
            class="form-control"
            name="category-name"
            [(ngModel)]="category.name"/>
        </div>
        <div *ngIf="expenseTransactionType">
          <label for="new-category-limit-input" class="col-form-label">Category limit</label>
          <div class="input-group">
            <input
              id="new-category-limit-input"
              type="number" min="0.00" max="999999.99" step="0.01"
              class="form-control"
              name="category"
              [(ngModel)]="category.limit"/>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark m-2" (click)="modal.close('add category')">Create category
    </button>
  </div>
</ng-template>

<!--
      edit category modal window
-->
<ng-template #editCategory let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-category-update">Category update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-dark" *ngIf="expenseTransactionType else incomeNotEditable">
    <form>
      <div class="mb-3">
        <label for="update-category-name-input" class="col-form-label">Update category:</label>
        <div class="input-group">
          <input
            type="text"
            id="update-category-name-input"
            name="new-category-name-input"
            class="form-control"
            disabled
            [(ngModel)]="category.name">
        </div>
        <div *ngIf="expenseTransactionType">
          <label for="category-update-limit-input" class="col-form-label">Category limit</label>
          <div class="input-group">
            <input
              id="category-update-limit-input"
              type="text"
              class="form-control"
              name="category"
              [(ngModel)]="category.limit"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" *ngIf="expenseTransactionType">
    <button type="button" class="btn btn-outline-dark m-2" (click)="modal.close('update category')">Update selected
      category
    </button>
  </div>
</ng-template>

<!--
      delete category modal window
-->
<ng-template #deletionConfirmationWindow let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-category-deletion">Category deletion</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <label for="category-input" class="col-form-label">Select the category
        <span class="fw-bold text-dark">{{categoryToDelete}}</span>to which the transaction from
        the deleted category will be assigned. If you don't select any category, transactions will be assigned to <span
          class="fw-bold">undefined</span>
        category:</label>
      <div *ngIf="categories else noData" class="input-group">
        <select [(ngModel)]="replacementCategory" name="replacementCategory" class="form-select"
                aria-label="Default select example" id="category-input">
          <option *ngFor="let category of allowableReplacementCategories"
                  value="{{category.name}}">{{category.name}}</option>
        </select>
      </div>
    </form>
    <br>
    <p><strong class="text-danger">Are you sure you want to delete
      <span class="fw-bold text-dark">{{categoryToDelete}}</span>
      category?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
  </div>
</ng-template>

<ng-template #incomeNotEditable>
  <br>
  <h6 class="text-center fw-bold">The INCOME category cannot be edited. <br> To change the INCOME category name, please
    remove the existing one and create a new category.</h6>
  <br>
</ng-template>

<ng-template #noData>
  <h3 class="text-center fw-bold">No Category Available</h3>
</ng-template>
