<div class="card border-secondary mb-3">
  <div class="card-body">
    <!--        start of card body-->
    <h5>Current month total limit usage:</h5>
    <div class="col" *ngIf="!(barChartService.loadingTotal$ | async) else loading">
      <div *ngIf="barChartService.totalUsageLimitBarchart$ | async as totalBarChart">
        <div class="table-responsive" *ngIf="totalBarChart.length !==0 else noData">
          <table class="mx-auto w-auto" *ngFor="let chart of totalBarChart">
            <tr>
              <div class="text-center" *ngIf="!(chart[0].spent <= chart[0].totalLimit)">
                <span class="text-dark ngx-fontsize">
                  {{chart[0].categoryName}}
                  ({{chart[0].spent | currency}}/{{chart[0].totalLimit | currency}})</span>
                <span class="fw-bold fst-italic text-warning">&emsp;LIMIT EXCEEDED!</span>
              </div>
              <div class="text-center" *ngIf="chart[0].spent <= chart[0].totalLimit">
                <div *ngIf="chart[0].totalLimit else limitsNotSet">
                  <ngx-charts-bar-horizontal-normalized
                    [view]="view"
                    [results]="chart"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [trimYAxisTicks]="trimYAxis"
                    [maxYAxisTickLength]="maxLength">
                  </ngx-charts-bar-horizontal-normalized>
                </div>
              </div>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--        end of card body-->
  </div>
</div>


<div class="card border-secondary mb-3">
  <div class="card-body">
    <h5>Current month limit usage by categories:</h5>
    <!--        start of card body-->
    <div class="col" *ngIf="!(barChartService.loadingCategories$ | async) else loading">
      <div *ngIf="barChartService.categoryUsageBarChart$ | async as barCharts">
        <div class="table-responsive" *ngIf="barCharts.length !==0 else noData">
          <table class="mx-auto w-auto">
            <tr *ngFor="let chart of barCharts">
              <div class="text-center" *ngIf="!(chart[0].spent <= chart[0].totalLimit)">
                <span class="text-dark ngx-fontsize">
                  {{chart[0].categoryName}}
                  ({{chart[0].spent | currency}}/{{chart[0].totalLimit | currency}})</span>
                <span class="fw-bold fst-italic text-warning">&emsp;LIMIT EXCEEDED!</span>
              </div>
              <div class="text-center" *ngIf="chart[0].spent <= chart[0].totalLimit">
                <div *ngIf="chart[0].totalLimit else limitsNotSet">
                  <ngx-charts-bar-horizontal-normalized
                    [view]="view"
                    [results]="chart"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [trimYAxisTicks]="trimYAxis"
                    [maxYAxisTickLength]="maxLength">
                  </ngx-charts-bar-horizontal-normalized>
                </div>
              </div>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--        end of card body-->
  </div>
</div>

<ng-template #loading>
  <span class="text-dark">loading... </span>
</ng-template>

<ng-template #noData>
  <br>
  <h6 class="text-info text-center fw-bold">Add any category with assigned limit to see chart here</h6>
</ng-template>

<ng-template #limitsNotSet>
  <span class="text-info fst-italic">&emsp;Limit for category not set!</span>
</ng-template>

