<div class="card border-secondary mb-3">
  <div class="card-body">
    <!--        start of card body-->
    <h5>Current month expenses by categories:</h5>
    <div class="col" *ngIf="!(pieChartService.loading$ | async) else loading">

      <div class="table-responsive" *ngIf="pieChartService.categoryUsagePieChart$ | async as pieCharts">
        <table class="mx-auto w-auto" *ngIf="pieCharts.length > 0 else noData">
          <tr>
            <ngx-charts-pie-chart
              [view]="view"
              [results]="pieCharts"
              [gradient]="gradient"
              [legend]="showLegend"
              [labels]="showLabels"
              [doughnut]="isDoughnut"
              [maxLabelLength]="maxLength"
            >
            </ngx-charts-pie-chart>
          </tr>
        </table>
      </div>
    </div>
    <!--        end of card body-->
  </div>
</div>

<ng-template #loading>
  <span class="text-dark">loading... </span>
</ng-template>

<ng-template #noData>
  <br>
  <h6 class="text-info text-center fw-bold">Add any category with assigned limit to see chart here</h6>
</ng-template>
